Tools/MicrosoftDynamicsCRM2015SDK/SDK/Schemas/CRMBizTalkIntegration/DiscoveryService_schemas_datacontract_org_2004_07_System_Collections_Generic.xsd

<?xml version="1.0"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Collections.Generic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation=".\DiscoveryService_schemas_microsoft_com_2003_10_Serialization.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation=".\DiscoveryService_schemas_microsoft_com_xrm_2011_Contracts_Discovery.xsd" namespace="http://schemas.microsoft.com/xrm/2011/Contracts/Discovery" />
  <xs:complexType name="KeyValuePairOfstringanyType">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="anyType" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" nillable="true" type="xs:string" />
      <xs:element name="value" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfstringanyType" nillable="true" type="tns:KeyValuePairOfstringanyType" />
  <xs:complexType name="KeyValuePairOfEndpointTypestringztYlk6OT">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="EndpointType" Namespace="http://schemas.microsoft.com/xrm/2011/Contracts/Discovery" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/xrm/2011/Contracts/Discovery" name="key" type="q2:EndpointType" />
      <xs:element name="value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfEndpointTypestringztYlk6OT" nillable="true" type="tns:KeyValuePairOfEndpointTypestringztYlk6OT" />
</xs:schema>