Tools/MicrosoftDynamicsCRM2015SDK/SDK/Schemas/CRMBizTalkIntegration/DiscoveryService_schemas_microsoft_com_xrm_2011_Contracts.xsd

<?xml version="1.0"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/xrm/2011/Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/xrm/2011/Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation=".\DiscoveryService_schemas_datacontract_org_2004_07_System_Collections_Generic.xsd" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:complexType name="DiscoveryServiceFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseServiceFault">
        <xs:sequence>
          <xs:element minOccurs="0" name="InnerFault" nillable="true" type="tns:DiscoveryServiceFault" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DiscoveryServiceFault" nillable="true" type="tns:DiscoveryServiceFault" />
  <xs:complexType name="BaseServiceFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorDetails" nillable="true" type="tns:ErrorDetailCollection" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseServiceFault" nillable="true" type="tns:BaseServiceFault" />
  <xs:complexType name="ErrorDetailCollection">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfstringanyType" type="q3:KeyValuePairOfstringanyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ErrorDetailCollection" nillable="true" type="tns:ErrorDetailCollection" />
  <xs:complexType name="OrganizationServiceFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseServiceFault">
        <xs:sequence>
          <xs:element minOccurs="0" name="InnerFault" nillable="true" type="tns:OrganizationServiceFault" />
          <xs:element minOccurs="0" name="TraceText" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrganizationServiceFault" nillable="true" type="tns:OrganizationServiceFault" />
</xs:schema>