Tools/MicrosoftDynamicsCRM2015SDK/SDK/Schemas/CRMBizTalkIntegration/OrganizationService_schemas_datacontract_org_2004_07_System_Collections_Generic.xsd

<?xml version="1.0"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Collections.Generic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation=".\OrganizationService_schemas_microsoft_com_2003_10_Serialization.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation=".\OrganizationService_schemas_microsoft_com_xrm_2011_Contracts.xsd" namespace="http://schemas.microsoft.com/xrm/2011/Contracts" />
  <xs:complexType name="KeyValuePairOfstringanyType">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="anyType" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" nillable="true" type="xs:string" />
      <xs:element name="value" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfstringanyType" nillable="true" type="tns:KeyValuePairOfstringanyType" />
  <xs:complexType name="KeyValuePairOfRelationshipQueryBaseX_PsK4FkN">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Relationship" Namespace="http://schemas.microsoft.com/xrm/2011/Contracts" />
          <GenericParameter Name="QueryBase" Namespace="http://schemas.microsoft.com/xrm/2011/Contracts" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q29="http://schemas.microsoft.com/xrm/2011/Contracts" name="key" nillable="true" type="q29:Relationship" />
      <xs:element xmlns:q30="http://schemas.microsoft.com/xrm/2011/Contracts" name="value" nillable="true" type="q30:QueryBase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfRelationshipQueryBaseX_PsK4FkN" nillable="true" type="tns:KeyValuePairOfRelationshipQueryBaseX_PsK4FkN" />
  <xs:complexType name="KeyValuePairOfstringQueryBasegUGIFE1S">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="QueryBase" Namespace="http://schemas.microsoft.com/xrm/2011/Contracts" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" nillable="true" type="xs:string" />
      <xs:element xmlns:q31="http://schemas.microsoft.com/xrm/2011/Contracts" name="value" nillable="true" type="q31:QueryBase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfstringQueryBasegUGIFE1S" nillable="true" type="tns:KeyValuePairOfstringQueryBasegUGIFE1S" />
  <xs:complexType name="KeyValuePairOfstringstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" nillable="true" type="xs:string" />
      <xs:element name="value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfstringstring" nillable="true" type="tns:KeyValuePairOfstringstring" />
  <xs:complexType name="KeyValuePairOfRelationshipEntityCollectionX_PsK4FkN">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Relationship" Namespace="http://schemas.microsoft.com/xrm/2011/Contracts" />
          <GenericParameter Name="EntityCollection" Namespace="http://schemas.microsoft.com/xrm/2011/Contracts" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q32="http://schemas.microsoft.com/xrm/2011/Contracts" name="key" nillable="true" type="q32:Relationship" />
      <xs:element xmlns:q33="http://schemas.microsoft.com/xrm/2011/Contracts" name="value" nillable="true" type="q33:EntityCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfRelationshipEntityCollectionX_PsK4FkN" nillable="true" type="tns:KeyValuePairOfRelationshipEntityCollectionX_PsK4FkN" />
</xs:schema>