Tools/MicrosoftDynamicsCRM2015SDK/SDK/Schemas/CRMBizTalkIntegration/OrganizationService_schemas_microsoft_com_xrm_2011_Contracts.xsd

<?xml version="1.0"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/xrm/2011/Contracts" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/xrm/2011/Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation=".\OrganizationService_schemas_microsoft_com_2003_10_Serialization.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation=".\OrganizationService_schemas_datacontract_org_2004_07_System_Collections_Generic.xsd" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:import schemaLocation=".\OrganizationService_schemas_microsoft_com_xrm_2011_Metadata.xsd" namespace="http://schemas.microsoft.com/xrm/2011/Metadata" />
  <xs:import schemaLocation=".\OrganizationService_schemas_microsoft_com_2003_10_Serialization_Arrays.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Entity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Attributes" nillable="true" type="tns:AttributeCollection" />
      <xs:element minOccurs="0" name="EntityState" nillable="true" type="tns:EntityState" />
      <xs:element minOccurs="0" name="FormattedValues" nillable="true" type="tns:FormattedValueCollection" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="LogicalName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelatedEntities" nillable="true" type="tns:RelatedEntityCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Entity" nillable="true" type="tns:Entity" />
  <xs:complexType name="AttributeCollection">
    <xs:sequence>
      <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfstringanyType" type="q18:KeyValuePairOfstringanyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AttributeCollection" nillable="true" type="tns:AttributeCollection" />
  <xs:complexType name="Money">
    <xs:sequence>
      <xs:element minOccurs="0" name="Value" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Money" nillable="true" type="tns:Money" />
  <xs:complexType name="ArrayOfMoney">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Money" nillable="true" type="tns:Money" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMoney" nillable="true" type="tns:ArrayOfMoney" />
  <xs:complexType name="EntityReference">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="LogicalName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntityReference" nillable="true" type="tns:EntityReference" />
  <xs:complexType name="ArrayOfEntityReference">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntityReference" nillable="true" type="tns:EntityReference" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntityReference" nillable="true" type="tns:ArrayOfEntityReference" />
  <xs:complexType name="OptionSetValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="Value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OptionSetValue" nillable="true" type="tns:OptionSetValue" />
  <xs:complexType name="ArrayOfOptionSetValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OptionSetValue" nillable="true" type="tns:OptionSetValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOptionSetValue" nillable="true" type="tns:ArrayOfOptionSetValue" />
  <xs:complexType name="EntityCollection">
    <xs:sequence>
      <xs:element minOccurs="0" name="Entities" nillable="true" type="tns:ArrayOfEntity" />
      <xs:element minOccurs="0" name="EntityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MinActiveRowVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MoreRecords" type="xs:boolean" />
      <xs:element minOccurs="0" name="PagingCookie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalRecordCount" type="xs:int" />
      <xs:element minOccurs="0" name="TotalRecordCountLimitExceeded" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntityCollection" nillable="true" type="tns:EntityCollection" />
  <xs:complexType name="ArrayOfEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Entity" nillable="true" type="tns:Entity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntity" nillable="true" type="tns:ArrayOfEntity" />
  <xs:complexType name="Label">
    <xs:sequence>
      <xs:element minOccurs="0" name="LocalizedLabels" nillable="true" type="tns:LocalizedLabelCollection" />
      <xs:element minOccurs="0" name="UserLocalizedLabel" nillable="true" type="tns:LocalizedLabel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Label" nillable="true" type="tns:Label" />
  <xs:complexType name="LocalizedLabelCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LocalizedLabel" nillable="true" type="tns:LocalizedLabel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocalizedLabelCollection" nillable="true" type="tns:LocalizedLabelCollection" />
  <xs:complexType name="LocalizedLabel">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsManaged" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Label" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LanguageCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocalizedLabel" nillable="true" type="tns:LocalizedLabel" />
  <xs:complexType name="BooleanManagedProperty">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ManagedPropertyboolean">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BooleanManagedProperty" nillable="true" type="tns:BooleanManagedProperty" />
  <xs:complexType name="ManagedPropertyboolean">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ManagedProperty{0}" Namespace="http://schemas.microsoft.com/xrm/2011/Contracts" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CanBeChanged" type="xs:boolean" />
      <xs:element minOccurs="0" name="ManagedPropertyLogicalName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ManagedPropertyboolean" nillable="true" type="tns:ManagedPropertyboolean" />
  <xs:complexType name="ManagedPropertyAttributeRequiredLevel">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ManagedProperty{0}" Namespace="http://schemas.microsoft.com/xrm/2011/Contracts" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="AttributeRequiredLevel" Namespace="http://schemas.microsoft.com/xrm/2011/Metadata" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CanBeChanged" type="xs:boolean" />
      <xs:element minOccurs="0" name="ManagedPropertyLogicalName" nillable="true" type="xs:string" />
      <xs:element xmlns:q19="http://schemas.microsoft.com/xrm/2011/Metadata" minOccurs="0" name="Value" type="q19:AttributeRequiredLevel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ManagedPropertyAttributeRequiredLevel" nillable="true" type="tns:ManagedPropertyAttributeRequiredLevel" />
  <xs:complexType name="AliasedValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttributeLogicalName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntityLogicalName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AliasedValue" nillable="true" type="tns:AliasedValue" />
  <xs:complexType name="ColumnSet">
    <xs:sequence>
      <xs:element minOccurs="0" name="AllColumns" type="xs:boolean" />
      <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Columns" nillable="true" type="q20:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ColumnSet" nillable="true" type="tns:ColumnSet" />
  <xs:complexType name="EntityReferenceCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntityReference" nillable="true" type="tns:EntityReference" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntityReferenceCollection" nillable="true" type="tns:EntityReferenceCollection" />
  <xs:complexType name="QueryBase">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="QueryBase" nillable="true" type="tns:QueryBase" />
  <xs:complexType name="FetchExpression">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:QueryBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Query" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FetchExpression" nillable="true" type="tns:FetchExpression" />
  <xs:complexType name="QueryByAttribute">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:QueryBase">
        <xs:sequence>
          <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Attributes" nillable="true" type="q21:ArrayOfstring" />
          <xs:element minOccurs="0" name="ColumnSet" nillable="true" type="tns:ColumnSet" />
          <xs:element minOccurs="0" name="EntityName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Orders" nillable="true" type="tns:ArrayOfOrderExpression" />
          <xs:element minOccurs="0" name="PageInfo" nillable="true" type="tns:PagingInfo" />
          <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Values" nillable="true" type="q22:ArrayOfanyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QueryByAttribute" nillable="true" type="tns:QueryByAttribute" />
  <xs:complexType name="ArrayOfOrderExpression">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderExpression" nillable="true" type="tns:OrderExpression" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderExpression" nillable="true" type="tns:ArrayOfOrderExpression" />
  <xs:complexType name="OrderExpression">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttributeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderType" type="tns:OrderType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderExpression" nillable="true" type="tns:OrderExpression" />
  <xs:simpleType name="OrderType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ascending" />
      <xs:enumeration value="Descending" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OrderType" nillable="true" type="tns:OrderType" />
  <xs:complexType name="PagingInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="PageNumber" type="xs:int" />
      <xs:element minOccurs="0" name="PagingCookie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnTotalRecordCount" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagingInfo" nillable="true" type="tns:PagingInfo" />
  <xs:complexType name="QueryExpression">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:QueryBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ColumnSet" nillable="true" type="tns:ColumnSet" />
          <xs:element minOccurs="0" name="Criteria" nillable="true" type="tns:FilterExpression" />
          <xs:element minOccurs="0" name="Distinct" type="xs:boolean" />
          <xs:element minOccurs="0" name="EntityName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LinkEntities" nillable="true" type="tns:ArrayOfLinkEntity" />
          <xs:element minOccurs="0" name="Orders" nillable="true" type="tns:ArrayOfOrderExpression" />
          <xs:element minOccurs="0" name="PageInfo" nillable="true" type="tns:PagingInfo" />
          <xs:element minOccurs="0" name="NoLock" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QueryExpression" nillable="true" type="tns:QueryExpression" />
  <xs:complexType name="FilterExpression">
    <xs:sequence>
      <xs:element minOccurs="0" name="Conditions" nillable="true" type="tns:ArrayOfConditionExpression" />
      <xs:element minOccurs="0" name="FilterOperator" type="tns:LogicalOperator" />
      <xs:element minOccurs="0" name="Filters" nillable="true" type="tns:ArrayOfFilterExpression" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FilterExpression" nillable="true" type="tns:FilterExpression" />
  <xs:complexType name="ArrayOfConditionExpression">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConditionExpression" nillable="true" type="tns:ConditionExpression" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConditionExpression" nillable="true" type="tns:ArrayOfConditionExpression" />
  <xs:complexType name="ConditionExpression">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttributeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Operator" type="tns:ConditionOperator" />
      <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Values" nillable="true" type="q23:ArrayOfanyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConditionExpression" nillable="true" type="tns:ConditionExpression" />
  <xs:simpleType name="ConditionOperator">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Equal" />
      <xs:enumeration value="NotEqual" />
      <xs:enumeration value="GreaterThan" />
      <xs:enumeration value="LessThan" />
      <xs:enumeration value="GreaterEqual" />
      <xs:enumeration value="LessEqual" />
      <xs:enumeration value="Like" />
      <xs:enumeration value="NotLike" />
      <xs:enumeration value="In" />
      <xs:enumeration value="NotIn" />
      <xs:enumeration value="Between" />
      <xs:enumeration value="NotBetween" />
      <xs:enumeration value="Null" />
      <xs:enumeration value="NotNull" />
      <xs:enumeration value="Yesterday" />
      <xs:enumeration value="Today" />
      <xs:enumeration value="Tomorrow" />
      <xs:enumeration value="Last7Days" />
      <xs:enumeration value="Next7Days" />
      <xs:enumeration value="LastWeek" />
      <xs:enumeration value="ThisWeek" />
      <xs:enumeration value="NextWeek" />
      <xs:enumeration value="LastMonth" />
      <xs:enumeration value="ThisMonth" />
      <xs:enumeration value="NextMonth" />
      <xs:enumeration value="On" />
      <xs:enumeration value="OnOrBefore" />
      <xs:enumeration value="OnOrAfter" />
      <xs:enumeration value="LastYear" />
      <xs:enumeration value="ThisYear" />
      <xs:enumeration value="NextYear" />
      <xs:enumeration value="LastXHours" />
      <xs:enumeration value="NextXHours" />
      <xs:enumeration value="LastXDays" />
      <xs:enumeration value="NextXDays" />
      <xs:enumeration value="LastXWeeks" />
      <xs:enumeration value="NextXWeeks" />
      <xs:enumeration value="LastXMonths" />
      <xs:enumeration value="NextXMonths" />
      <xs:enumeration value="LastXYears" />
      <xs:enumeration value="NextXYears" />
      <xs:enumeration value="EqualUserId" />
      <xs:enumeration value="NotEqualUserId" />
      <xs:enumeration value="EqualBusinessId" />
      <xs:enumeration value="NotEqualBusinessId" />
      <xs:enumeration value="ChildOf" />
      <xs:enumeration value="Mask" />
      <xs:enumeration value="NotMask" />
      <xs:enumeration value="MasksSelect" />
      <xs:enumeration value="Contains" />
      <xs:enumeration value="DoesNotContain" />
      <xs:enumeration value="EqualUserLanguage" />
      <xs:enumeration value="NotOn" />
      <xs:enumeration value="OlderThanXMonths" />
      <xs:enumeration value="BeginsWith" />
      <xs:enumeration value="DoesNotBeginWith" />
      <xs:enumeration value="EndsWith" />
      <xs:enumeration value="DoesNotEndWith" />
      <xs:enumeration value="ThisFiscalYear" />
      <xs:enumeration value="ThisFiscalPeriod" />
      <xs:enumeration value="NextFiscalYear" />
      <xs:enumeration value="NextFiscalPeriod" />
      <xs:enumeration value="LastFiscalYear" />
      <xs:enumeration value="LastFiscalPeriod" />
      <xs:enumeration value="LastXFiscalYears" />
      <xs:enumeration value="LastXFiscalPeriods" />
      <xs:enumeration value="NextXFiscalYears" />
      <xs:enumeration value="NextXFiscalPeriods" />
      <xs:enumeration value="InFiscalYear" />
      <xs:enumeration value="InFiscalPeriod" />
      <xs:enumeration value="InFiscalPeriodAndYear" />
      <xs:enumeration value="InOrBeforeFiscalPeriodAndYear" />
      <xs:enumeration value="InOrAfterFiscalPeriodAndYear" />
      <xs:enumeration value="EqualUserTeams" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ConditionOperator" nillable="true" type="tns:ConditionOperator" />
  <xs:simpleType name="LogicalOperator">
    <xs:restriction base="xs:string">
      <xs:enumeration value="And" />
      <xs:enumeration value="Or" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LogicalOperator" nillable="true" type="tns:LogicalOperator" />
  <xs:complexType name="ArrayOfFilterExpression">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FilterExpression" nillable="true" type="tns:FilterExpression" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFilterExpression" nillable="true" type="tns:ArrayOfFilterExpression" />
  <xs:complexType name="ArrayOfLinkEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LinkEntity" nillable="true" type="tns:LinkEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLinkEntity" nillable="true" type="tns:ArrayOfLinkEntity" />
  <xs:complexType name="LinkEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Columns" nillable="true" type="tns:ColumnSet" />
      <xs:element minOccurs="0" name="EntityAlias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JoinOperator" type="tns:JoinOperator" />
      <xs:element minOccurs="0" name="LinkCriteria" nillable="true" type="tns:FilterExpression" />
      <xs:element minOccurs="0" name="LinkEntities" nillable="true" type="tns:ArrayOfLinkEntity" />
      <xs:element minOccurs="0" name="LinkFromAttributeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LinkFromEntityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LinkToAttributeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LinkToEntityName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LinkEntity" nillable="true" type="tns:LinkEntity" />
  <xs:simpleType name="JoinOperator">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Inner" />
      <xs:enumeration value="LeftOuter" />
      <xs:enumeration value="Natural" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="JoinOperator" nillable="true" type="tns:JoinOperator" />
  <xs:complexType name="ArrayOfQueryExpression">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QueryExpression" nillable="true" type="tns:QueryExpression" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQueryExpression" nillable="true" type="tns:ArrayOfQueryExpression" />
  <xs:complexType name="ArrayOfLocalizedLabel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LocalizedLabel" nillable="true" type="tns:LocalizedLabel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocalizedLabel" nillable="true" type="tns:ArrayOfLocalizedLabel" />
  <xs:complexType name="Relationship">
    <xs:sequence>
      <xs:element minOccurs="0" name="PrimaryEntityRole" nillable="true" type="tns:EntityRole" />
      <xs:element minOccurs="0" name="SchemaName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Relationship" nillable="true" type="tns:Relationship" />
  <xs:simpleType name="EntityRole">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Referencing" />
      <xs:enumeration value="Referenced" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EntityRole" nillable="true" type="tns:EntityRole" />
  <xs:complexType name="AttributePrivilegeCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AttributePrivilege" nillable="true" type="tns:AttributePrivilege" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AttributePrivilegeCollection" nillable="true" type="tns:AttributePrivilegeCollection" />
  <xs:complexType name="AttributePrivilege">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttributeId" type="ser:guid" />
      <xs:element minOccurs="0" name="CanCreate" type="xs:int" />
      <xs:element minOccurs="0" name="CanRead" type="xs:int" />
      <xs:element minOccurs="0" name="CanUpdate" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AttributePrivilege" nillable="true" type="tns:AttributePrivilege" />
  <xs:complexType name="RelationshipQueryCollection">
    <xs:sequence>
      <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfRelationshipQueryBaseX_PsK4FkN" type="q24:KeyValuePairOfRelationshipQueryBaseX_PsK4FkN" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RelationshipQueryCollection" nillable="true" type="tns:RelationshipQueryCollection" />
  <xs:simpleType name="EntityState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unchanged" />
      <xs:enumeration value="Created" />
      <xs:enumeration value="Changed" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EntityState" nillable="true" type="tns:EntityState" />
  <xs:complexType name="FormattedValueCollection">
    <xs:sequence>
      <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfstringstring" type="q25:KeyValuePairOfstringstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FormattedValueCollection" nillable="true" type="tns:FormattedValueCollection" />
  <xs:complexType name="RelatedEntityCollection">
    <xs:sequence>
      <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfRelationshipEntityCollectionX_PsK4FkN" type="q26:KeyValuePairOfRelationshipEntityCollectionX_PsK4FkN" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RelatedEntityCollection" nillable="true" type="tns:RelatedEntityCollection" />
  <xs:complexType name="OrganizationServiceFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseServiceFault">
        <xs:sequence>
          <xs:element minOccurs="0" name="InnerFault" nillable="true" type="tns:OrganizationServiceFault" />
          <xs:element minOccurs="0" name="TraceText" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrganizationServiceFault" nillable="true" type="tns:OrganizationServiceFault" />
  <xs:complexType name="BaseServiceFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorDetails" nillable="true" type="tns:ErrorDetailCollection" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseServiceFault" nillable="true" type="tns:BaseServiceFault" />
  <xs:complexType name="ErrorDetailCollection">
    <xs:sequence>
      <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfstringanyType" type="q27:KeyValuePairOfstringanyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ErrorDetailCollection" nillable="true" type="tns:ErrorDetailCollection" />
  <xs:complexType name="DiscoveryServiceFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseServiceFault">
        <xs:sequence>
          <xs:element minOccurs="0" name="InnerFault" nillable="true" type="tns:DiscoveryServiceFault" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DiscoveryServiceFault" nillable="true" type="tns:DiscoveryServiceFault" />
  <xs:complexType name="OrganizationRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Parameters" nillable="true" type="tns:ParameterCollection" />
      <xs:element minOccurs="0" name="RequestId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="RequestName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrganizationRequest" nillable="true" type="tns:OrganizationRequest" />
  <xs:complexType name="ParameterCollection">
    <xs:sequence>
      <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfstringanyType" type="q28:KeyValuePairOfstringanyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParameterCollection" nillable="true" type="tns:ParameterCollection" />
  <xs:complexType name="OrganizationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ResponseName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Results" nillable="true" type="tns:ParameterCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrganizationResponse" nillable="true" type="tns:OrganizationResponse" />
</xs:schema>