Tools/MicrosoftDynamicsCRM2015SDK/SDK/Schemas/CRMBizTalkIntegration/OrganizationService_schemas_microsoft_com_xrm_2011_Contracts_Services.xsd

<?xml version="1.0"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/xrm/2011/Contracts/Services" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/xrm/2011/Contracts/Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation=".\OrganizationService_schemas_microsoft_com_xrm_2011_Contracts.xsd" namespace="http://schemas.microsoft.com/xrm/2011/Contracts" />
  <xs:import schemaLocation=".\OrganizationService_schemas_microsoft_com_2003_10_Serialization.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="Create">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/xrm/2011/Contracts" minOccurs="0" name="entity" nillable="true" type="q1:Entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="CreateResult" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Retrieve">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityName" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q3:guid" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/xrm/2011/Contracts" minOccurs="0" name="columnSet" nillable="true" type="q4:ColumnSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/xrm/2011/Contracts" minOccurs="0" name="RetrieveResult" nillable="true" type="q5:Entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/xrm/2011/Contracts" minOccurs="0" name="entity" nillable="true" type="q6:Entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityName" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q7:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Execute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/xrm/2011/Contracts" minOccurs="0" name="request" nillable="true" type="q8:OrganizationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/xrm/2011/Contracts" minOccurs="0" name="ExecuteResult" nillable="true" type="q9:OrganizationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Associate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityName" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="entityId" type="q10:guid" />
        <xs:element xmlns:q11="http://schemas.microsoft.com/xrm/2011/Contracts" minOccurs="0" name="relationship" nillable="true" type="q11:Relationship" />
        <xs:element xmlns:q12="http://schemas.microsoft.com/xrm/2011/Contracts" minOccurs="0" name="relatedEntities" nillable="true" type="q12:EntityReferenceCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssociateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Disassociate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityName" nillable="true" type="xs:string" />
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="entityId" type="q13:guid" />
        <xs:element xmlns:q14="http://schemas.microsoft.com/xrm/2011/Contracts" minOccurs="0" name="relationship" nillable="true" type="q14:Relationship" />
        <xs:element xmlns:q15="http://schemas.microsoft.com/xrm/2011/Contracts" minOccurs="0" name="relatedEntities" nillable="true" type="q15:EntityReferenceCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisassociateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveMultiple">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/xrm/2011/Contracts" minOccurs="0" name="query" nillable="true" type="q16:QueryBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveMultipleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/xrm/2011/Contracts" minOccurs="0" name="RetrieveMultipleResult" nillable="true" type="q17:EntityCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>